/* Font face */
/*@font-face {
    font-family: 'Fira Code';
    src: url('FiraCode-Light.woff2') format('woff2'),
        url('FiraCode-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: url('FiraCode-Bold.woff2') format('woff2'),
        url('FiraCode-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}*/

@font-face {
    font-family: 'Fira Code';
    src: url('FiraCode-Regular.woff2') format('woff2'),
        url('FiraCode-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: url('FiraCode-Medium.woff2') format('woff2'),
        url('FiraCode-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

/* Palette */
:root {
    --black:          #1E2541;
    --red:            #F0719B;
    --green:          #5AF7B0;
    --yellow:         #FFA56B;
    --blue:           #57C7FF;
    --magenta:        #C792EA;
    --cyan:           #89DDFF;
    --white:          #EEFFFF;
    --bright-black:   #354274;
    --bright-red:     #F02E6E;
    --bright-green:   #2CE592;
    --bright-yellow:  #FF8537;
    --bright-blue:    #1DA0E2;
    --bright-magenta: #A742EA;
    --bright-cyan:    #47BAE8;
    --bright-white:   #DEE6E7;
    --color16:        #2A335A;

    --foreground:     var(--white);
    --background:     var(--black);
}

html {
    font-size: 16px;
}

body {
    font-family: 'Fira Code', sans-serif;
    margin: 0;
    background-color: var(--background);
    /*background-image: linear-gradient( to top left, var(--black), var(--bright-black) 70% );*/
    color: var(--foreground);

    font-size: .85rem;
}

h1 {
    color: var(--bright-yellow);
    font-size: 1em;
}

h2 {
    color: var(--red);
    font-size: .9em;
}

a {
    text-decoration: none;
    color: var(--foreground);
}

a:hover {
    text-decoration: underline;
}

a:visited {
    font-weight: 500;
}

.name {
    height: 4em;
}

.name__logo {
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

.name__plate {
    display: inline-block;
    vertical-align: top;
}

.bio {
    color: var(--green);
    font-size: 0.8em;
    margin: 2em 0;
}

.col, .row {
    display: inline-block;
    vertical-align: top;
}

.row {
    padding: 1em;
    text-align: center;
}

.col--aside {
    width: 28%;
}

.col--main {
    width: 70%;
    text-align: center;
}

.content {
    margin: 10% auto auto;
    width: 80%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 55em;
}

.project {
    text-align: center;
    display: inline-block;
    width: 14em;
    height: 100%;
    font-size: .8em;
    vertical-align: top;
    padding: .5em;
    border-radius: .2em;
}

.project:hover {
    background-color: var(--bright-black);
}

.project > a {
    height: 100%;
    display: block;
}

.project a:hover {
    text-decoration: none;
}

.project__title {
    font-weight: 500;
    margin-bottom: .3em;
    color: var(--magenta);
}

.project__logo {
    display: block;
    height: 4em;
    margin: auto auto 1em auto;
}


@media (max-width: 768px) {

    .col, .col--aside, .col--main {
        width: 100%;
    }

}
